# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# VS Code
.vscode/


.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env

uploads/
temp/
tts_output/
outputs/

.vscode/
.idea/
# macOS
.DS_Store